Repository infernokun/InfernoGames: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rest, build-web

build-rest:
  image: docker:26.1.4
  services:
  - name: docker:26.1.4-dind
    command:
    - --tls=false
    - --mtu=1500
  before_script:
  - echo "$DOCKER_HUB_ACCESS_TOKEN" | docker login -u "$DOCKER_HUB_USERNAME" --password-stdin
  - apk add --no-cache nodejs npm bash jq
  stage: build
  script:
  - cd inferno-games-rest
  ...

build-web:
  image: docker:26.1.4
  services:
  - name: docker:26.1.4-dind
    command:
    - --tls=false
    - --mtu=1500
  before_script:
  - echo "$DOCKER_HUB_ACCESS_TOKEN" | docker login -u "$DOCKER_HUB_USERNAME" --password-stdin
  - apk add --no-cache nodejs npm bash jq
  stage: build
  script:
  - cd inferno-games-web
  ...

pipeline fix again
  inferno-games-rest/package.json
  inferno-games-web/package.json
Due: build-rest, build-web

update docker in old pipeline
  .gitlab-ci.yml
  inferno-games-rest/package.json
  inferno-games-web/package.json
Due: build-rest, build-web

fix production app config
  inferno-games-rest/package.json
  inferno-games-web/package.json
  inferno-games-web/src/assets/environment/app.config.production.json
Due: build-rest, build-web

fix version impl
  .gitlab-ci.yml
  inferno-games-web/src/app/services/version.service.ts
Due: build-web

fix version
  docker-compose.yml
  inferno-games-web/src/app/components/common/version-info/version-info.component.ts
  inferno-games-web/src/app/services/version.service.ts
Due: build-rest, build-web

some fixes
  inferno-games-rest/package.json
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/controllers/GameController.java
  inferno-games-web/package.json
  inferno-games-web/src/app/components/common/version-info/version-info.component.ts
  inferno-games-web/src/app/components/games-list/games-list.component.html
  inferno-games-web/src/app/components/igdb-search/igdb-search.component.ts
  inferno-games-web/src/app/services/game.service.ts
Due: build-rest, build-web

rm websocket and add tests rest
  inferno-games-rest/src/main/resources/application.yml
  inferno-games-rest/src/test/java/com/infernokun/infernoGames/GameIntegrationTest.java
  inferno-games-rest/src/test/java/com/infernokun/infernoGames/controllers/GameControllerTest.java
  inferno-games-rest/src/test/java/com/infernokun/infernoGames/models/ApiResponseTest.java
  inferno-games-rest/src/test/java/com/infernokun/infernoGames/models/GameTest.java
  inferno-games-rest/src/test/java/com/infernokun/infernoGames/models/dto/GameRequestTest.java
  inferno-games-rest/src/test/java/com/infernokun/infernoGames/repositories/GameRepositoryTest.java
  inferno-games-rest/src/test/java/com/infernokun/infernoGames/services/GameServiceTest.java
  inferno-games-rest/src/test/resources/application-test.yml
  inferno-games-web/src/app/app.component.html
Due: build-rest, build-web

update readme
  README.md
Due: none

Add steam play time integration
  docker-compose.yml
  inferno-games-rest/package.json
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/config/InfernoGamesConfig.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/controllers/GameController.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/models/Game.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/models/dto/GameRequest.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/repositories/GameRepository.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/services/GameService.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/services/IGDBService.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/services/SteamService.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/services/SteamSyncScheduler.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/utils/CacheConstants.java
  inferno-games-rest/src/main/resources/application-local.yml
  inferno-games-rest/src/test/java/com/infernokun/infernoGames/models/GameTest.java
  inferno-games-web/package.json
  inferno-games-web/src/app/components/dashboard/dashboard.component.html
  inferno-games-web/src/app/components/dashboard/dashboard.component.scss
  inferno-games-web/src/app/components/dashboard/dashboard.component.ts
  inferno-games-web/src/app/components/game-detail/game-detail.component.html
  inferno-games-web/src/app/components/game-detail/game-detail.component.scss
  inferno-games-web/src/app/components/game-detail/game-detail.component.ts
  inferno-games-web/src/app/components/igdb-search/igdb-search.component.html
  inferno-games-web/src/app/components/igdb-search/igdb-search.component.scss
  inferno-games-web/src/app/models/game.model.ts
  inferno-games-web/src/app/services/game.service.ts
Due: build-rest, build-web

remove completion and fix some stylings
  inferno-games-web/package.json
  inferno-games-web/src/app/components/dashboard/dashboard.component.html
  inferno-games-web/src/app/components/dashboard/dashboard.component.scss
  inferno-games-web/src/app/components/game-detail/game-detail.component.html
  inferno-games-web/src/app/components/game-detail/game-detail.component.scss
  inferno-games-web/src/app/components/game-form/game-form.component.html
  inferno-games-web/src/app/components/game-form/game-form.component.scss
  inferno-games-web/src/app/components/game-form/game-form.component.ts
  inferno-games-web/src/app/components/games-list/games-list.component.html
  inferno-games-web/src/app/components/games-list/games-list.component.scss
  inferno-games-web/src/app/components/games-list/games-list.component.ts
  inferno-games-web/src/app/models/game.model.ts
Due: build-web

add steam user info and remove dashboard hero section
  inferno-games-rest/package.json
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/config/InfernoGamesConfig.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/controllers/GameController.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/services/GameService.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/services/IGDBService.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/services/SteamService.java
  inferno-games-rest/src/main/resources/application.yml
  inferno-games-web/package.json
  inferno-games-web/src/app/app.component.html
  inferno-games-web/src/app/app.component.scss
  inferno-games-web/src/app/app.component.ts
  inferno-games-web/src/app/components/dashboard/dashboard.component.html
  inferno-games-web/src/app/components/dashboard/dashboard.component.scss
  inferno-games-web/src/app/models/game.model.ts
  inferno-games-web/src/app/services/game.service.ts
Due: build-rest, build-web

add steam lib and stats
  inferno-games-web/package.json
  inferno-games-web/src/app/app-routing.module.ts
  inferno-games-web/src/app/app.component.html
  inferno-games-web/src/app/app.component.scss
  inferno-games-web/src/app/components/dashboard/dashboard.component.html
  inferno-games-web/src/app/components/dashboard/dashboard.component.scss
  inferno-games-web/src/app/components/dashboard/dashboard.component.ts
  inferno-games-web/src/app/components/igdb-search/igdb-search.component.html
  inferno-games-web/src/app/components/igdb-search/igdb-search.component.scss
  inferno-games-web/src/app/components/igdb-search/igdb-search.component.ts
  inferno-games-web/src/app/components/steam-library/steam-library.component.html
  inferno-games-web/src/app/components/steam-library/steam-library.component.scss
  inferno-games-web/src/app/components/steam-library/steam-library.component.ts
  inferno-games-web/src/app/components/steam-stats/steam-stats.component.html
  inferno-games-web/src/app/components/steam-stats/steam-stats.component.scss
  inferno-games-web/src/app/components/steam-stats/steam-stats.component.ts
Due: build-web

fix some icons
  docker-compose.yml
  inferno-games-dev/.gitignore
  inferno-games-dev/docker-compose.yml
  inferno-games-rest/.gitignore
  inferno-games-rest/settings.gradle
  inferno-games-rest/src/main/resources/application.yml
  inferno-games-rest/src/main/resources/logback.xml
  inferno-games-web/.vscode/settings.json
  inferno-games-web/angular.json
  inferno-games-web/package.json
  inferno-games-web/pnpm-lock.yaml
  inferno-games-web/src/app/components/common/dialog/common-dialog/common-dialog.component.ts
  inferno-games-web/src/app/components/common/dialog/confirmation-dialog/confirmation-dialog.component.ts
  inferno-games-web/src/app/components/common/skeleton-rect/skeleton-rect.component.ts
  inferno-games-web/src/app/components/dashboard/dashboard.component.html
  inferno-games-web/src/app/components/dashboard/dashboard.component.scss
  inferno-games-web/src/app/components/dashboard/dashboard.component.ts
  inferno-games-web/src/app/components/games-list/games-list.component.html
  inferno-games-web/src/app/components/games-list/games-list.component.scss
  inferno-games-web/src/app/components/steam-library/steam-library.component.html
  inferno-games-web/src/app/components/steam-library/steam-library.component.scss
  inferno-games-web/src/app/components/steam-stats/steam-stats.component.html
  inferno-games-web/src/app/components/steam-stats/steam-stats.component.ts
  inferno-games-web/src/app/models/user.model.ts
Due: build-rest, build-web

add genres to steam library
  inferno-games-rest/package.json
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/controllers/GameController.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/services/GameService.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/services/SteamService.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/services/SteamSyncScheduler.java
  inferno-games-rest/src/main/resources/application.yml
  inferno-games-web/package.json
  inferno-games-web/src/app/components/steam-library/steam-library.component.html
  inferno-games-web/src/app/components/steam-library/steam-library.component.scss
  inferno-games-web/src/app/components/steam-library/steam-library.component.ts
  inferno-games-web/src/app/models/game.model.ts
  inferno-games-web/src/app/services/game.service.ts
Due: build-rest, build-web

comment fix
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/services/SteamSyncScheduler.java
Due: build-rest

add dlc option and change reused code to helper ts
  inferno-games-rest/package.json
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/models/enums/GameStatus.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/services/GameService.java
  inferno-games-rest/src/test/java/com/infernokun/infernoGames/models/GameTest.java
  inferno-games-rest/src/test/java/com/infernokun/infernoGames/services/GameServiceTest.java
  inferno-games-web/package.json
  inferno-games-web/src/app/app-routing.module.ts
  inferno-games-web/src/app/app.module.ts
  inferno-games-web/src/app/components/common/image-hover-preview/image-hover-preview.component.ts
  inferno-games-web/src/app/components/games/detail/game-detail.component.html
  inferno-games-web/src/app/components/games/detail/game-detail.component.scss
  inferno-games-web/src/app/components/games/detail/game-detail.component.ts
  inferno-games-web/src/app/components/games/form/game-form.component.html
  inferno-games-web/src/app/components/games/form/game-form.component.scss
  inferno-games-web/src/app/components/games/form/game-form.component.ts
  inferno-games-web/src/app/components/games/list/games-list.component.html
  inferno-games-web/src/app/components/games/list/games-list.component.scss
  inferno-games-web/src/app/components/games/list/games-list.component.ts
  inferno-games-web/src/app/components/igdb/search/igdb-search.component.html
  inferno-games-web/src/app/components/igdb/search/igdb-search.component.scss
  inferno-games-web/src/app/components/igdb/search/igdb-search.component.ts
  inferno-games-web/src/app/components/steam/library/steam-library.component.html
  inferno-games-web/src/app/components/steam/library/steam-library.component.scss
  inferno-games-web/src/app/components/steam/library/steam-library.component.ts
  inferno-games-web/src/app/components/steam/stats/steam-stats.component.html
  inferno-games-web/src/app/components/steam/stats/steam-stats.component.scss
  inferno-games-web/src/app/components/steam/stats/steam-stats.component.ts
  inferno-games-web/src/app/components/version-info/version-info.component.ts
  inferno-games-web/src/app/models/game.model.ts
  inferno-games-web/src/app/utils/helpers.ts
Due: build-rest, build-web

rm files and change names
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/logger/InfernoGamesLogger.java
  inferno-games-web/src/app/components/games-list/games-list.component.html
  inferno-games-web/src/app/components/games-list/games-list.component.scss
  inferno-games-web/src/app/components/steam-library/steam-library.component.html
  inferno-games-web/src/app/components/steam-library/steam-library.component.scss
  inferno-games-web/src/app/components/steam-library/steam-library.component.ts
  inferno-games-web/src/app/components/steam-stats/steam-stats.component.html
  inferno-games-web/src/app/components/steam-stats/steam-stats.component.ts
Due: build-rest, build-web

modify some dev stuff
  inferno-games-rest/Dockerfile
  inferno-games-rest/package.json
  inferno-games-rest/src/main/resources/application.yml
  inferno-games-web/Dockerfile
  inferno-games-web/nx.json
  inferno-games-web/package.json
  inferno-games-web/pnpm-lock.yaml
  package.json
Due: build-rest, build-web

dlc colors
  inferno-games-web/src/app/components/dashboard/dashboard.component.html
  inferno-games-web/src/app/components/dashboard/dashboard.component.scss
  inferno-games-web/src/app/components/dashboard/dashboard.component.ts
  inferno-games-web/src/app/components/games/detail/game-detail.component.scss
  inferno-games-web/src/app/components/games/list/games-list.component.html
  inferno-games-web/src/app/components/games/list/games-list.component.scss
  inferno-games-web/src/app/components/games/list/games-list.component.ts
  inferno-games-web/src/styles.scss
Due: build-web

add dlc bool instead
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/controllers/GameController.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/models/Game.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/models/enums/GameStatus.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/services/GameService.java
  inferno-games-web/src/app/components/dashboard/dashboard.component.html
  inferno-games-web/src/app/components/dashboard/dashboard.component.scss
  inferno-games-web/src/app/components/dashboard/dashboard.component.ts
  inferno-games-web/src/app/components/games/detail/game-detail.component.html
  inferno-games-web/src/app/components/games/detail/game-detail.component.scss
  inferno-games-web/src/app/components/games/detail/game-detail.component.ts
  inferno-games-web/src/app/components/games/form/game-form.component.html
  inferno-games-web/src/app/components/games/form/game-form.component.scss
  inferno-games-web/src/app/components/games/form/game-form.component.ts
  inferno-games-web/src/app/components/games/list/games-list.component.html
  inferno-games-web/src/app/components/games/list/games-list.component.scss
  inferno-games-web/src/app/components/games/list/games-list.component.ts
  inferno-games-web/src/app/models/game.model.ts
  inferno-games-web/src/app/services/game.service.ts
  inferno-games-web/src/app/utils/helpers.ts
Due: build-rest, build-web

fix dockerfile web
  inferno-games-web/Dockerfile
  package.json
Due: build-web

fix dockerfile web 2
  inferno-games-web/Dockerfile
Due: build-web

fix dlc bool
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/models/Game.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/services/GameService.java
  inferno-games-web/src/app.tar.gz
Due: build-rest, build-web

change dlc var web
  inferno-games-web/src/app/components/dashboard/dashboard.component.html
  inferno-games-web/src/app/components/games/detail/game-detail.component.html
  inferno-games-web/src/app/components/games/detail/game-detail.component.ts
  inferno-games-web/src/app/components/games/form/game-form.component.ts
  inferno-games-web/src/app/components/games/list/games-list.component.html
  inferno-games-web/src/app/models/game.model.ts
Due: build-web

fix dlc cache
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/services/GameService.java
  inferno-games-web/src/app.tar.gz
  inferno-games-web/src/app/components/dashboard/dashboard.component.scss
  inferno-games-web/src/app/components/games/list/games-list.component.scss
  inferno-games-web/src/app/components/steam/library/steam-library.component.scss
Due: build-rest, build-web

fix button
  inferno-games-web/src/app/components/dashboard/dashboard.component.scss
Due: build-web

add dlc endpoints and fix some tests
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/controllers/GameController.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/models/dto/GameRequest.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/repositories/GameRepository.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/services/GameService.java
  inferno-games-rest/src/main/java/com/infernokun/infernoGames/utils/ExecutionTimeAspect.java
  inferno-games-rest/src/test/java/com/infernokun/infernoGames/models/ApiResponseTest.java
  inferno-games-rest/src/test/java/com/infernokun/infernoGames/models/GameTest.java
  inferno-games-rest/src/test/java/com/infernokun/infernoGames/models/dto/GameRequestTest.java
  inferno-games-rest/src/test/java/com/infernokun/infernoGames/services/GameServiceTest.java
  inferno-games-web/src/app/services/game.service.ts
Due: build-rest, build-web

use api res
  inferno-games-web/src/app/services/game.service.ts
Due: build-web

formatting
  inferno-games-web/src/app/services/game.service.ts
Due: build-web

some package json changes
  inferno-games-rest/package.json
  inferno-games-web/package.json
  package.json
Due: build-rest, build-web

Path conditions:
  build-rest: any of: inferno-games-rest/**/*, docker-compose.yml
  build-web: any of: inferno-games-web/**/*, docker-compose.yml
